/* Colores */
/* Color name:140 tipos de nombres en CSS */
h4{
    color: firebrick;
    background-color: black;
}

/* colores RGB: red, green, blue */
h4{
    color: rgb(31, 107, 92);
    /* background-color: rgb(0, 150, 150); */
    background-color: rgba(150, 0, 150, 0.26);/*Alpha es la transparencia*/
}
/* Colores con código hexagesimal */
h4{
    color: #ff0000;
    background-color: #00ff0874;
}

/* Colores HLS */
h4{
    color: hsl(0, 100%, 49%);
    background-color: hsl(224, 100%, 50%);
}
