/* Formato de Textos */
div{
    width: 500px;
    height: auto;
    border: 2px solid black;
    padding: 20px;
    margin: 20px;
}
/*Fuentes*/
h2{
    font: 20px;
}
h4{
    font-size:2vw;
}

.serif{
    font-family: 'Times New Roman', Times, serif; /*Se puede poner más, si no encuentra uno pasa al siguiente*/
}
.sans-serif{
    font-family: sans-serif;
}
.monospace{
    font-family: monospace;
}
.cursive{
    font-family: monospace;
}
.fantasy{
    font-family: fantasy;
}
/* .style{ 
    font-style: italic;
} */
/* .weight{
    font-weight: 900;
} */
.variant{
    font-variant:small-caps ;/*Todo mayuscula pero la 1ra es grande*/
}

/*FUENTES DE TERCEROS*/
p{
    text-indent: 50px;
    letter-spacing: 1px;
    line-height: 1.5;
    word-spacing: 3px;
    font-family: "Roboto Condensed", sans-serif;
}